.btn {
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0.2rem 0.5rem;
    outline: none;
}

.btn-cancel {
    background-color: rgba(201, 16, 3, 0.94);
    color: white;
    font-size: 0.9rem;
    padding: 0.4rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: darken(rgba(201, 16, 3, 0.94), 15);
    }
}

.btn-agree {
    background-color: rgb(229, 255, 0);
    color: black;
    font-size: 0.9rem;
    padding: 0.4rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: darken(rgb(229, 255, 0), 15);
    }
}

.button__delete-book {
    color: rgb(247, 0, 0);
    font-size: 3rem;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: rgb(255, 73, 73);
    }
}

@media (min-width: 768px) {

    .btn-cancel {
        font-size: 1.4rem;
        padding: 0.5rem;
    }

    .btn-agree {
        font-size: 1.4rem;
        padding: 0.5rem;
    }

}