html {
    box-sizing: border-box;
    font-size: 62.5%;
    background: linear-gradient(117deg, #5f5d3a, #f9fac3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

body {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.6rem;
    letter-spacing: 0.12rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
    background-color: rgba(84, 84, 0, 0.452);
    padding: 2rem;

    a {
        color: white;
        display: block;
        text-decoration: none;
        text-align: center;
        transition: all 0.2s ease-in;

        &:hover {
            color: rgb(196, 235, 0);
        }
    }
}

img {
    width: 100%;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/* CUSTOM HELPERS */
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-4 {
    margin-bottom: 4.6rem !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
    ;
}

.bold {
    font-weight: bold !important;
}

.border-red {
    border: 2px solid rgba(250, 2, 2, 0.719) !important;
}