.bookscreen__h1 {
    color: white;
    font-weight: 100;
    font-size: 2.7rem;
    margin: 2rem 0 6rem 0;
    padding-bottom: 0.5rem;
    text-align: center;
    text-shadow: 4px 4px 7px rgb(123, 123, 123),
        4px 4px 7px rgb(38, 62, 0);
    text-transform: uppercase;
}

.bookscreen__books-main-wrapper {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 1rem;
    position: relative;
    animation: 3s infinite alternate pulseShadow;

    .bookscreen__tab-wrapper {
        background-color: rgb(253, 254, 237);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 0.9rem;
        height: 2rem;
        left: 0;
        padding: 0.4rem 0.5rem 0.2rem 0.2rem;
        position: absolute;
        top: -2rem;
        width: auto;
        -webkit-box-shadow: inset -5px 6px 4px -4px rgba(0, 0, 0, 0.43);
        -moz-box-shadow: inset -5px 6px 4px -4px rgba(0, 0, 0, 0.43);
        box-shadow: inset -5px 6px 4px -4px rgba(143, 143, 143, 0.43);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgb(251, 252, 234);
            -webkit-box-shadow: inset -5px 6px 4px -4px rgba(0, 0, 0, 0.43);
            -moz-box-shadow: inset -5px 6px 4px -4px rgba(0, 0, 0, 0.43);
            box-shadow: inset -5px 6px 4px -4px rgba(109, 109, 109, 0.705);
        }

        .bookscreen__tab-new-book {
            cursor: pointer;

            i {
                color: rgb(113, 135, 2);
                display: none;
                transition: all 0.3s ease-in-out;
            }

            span {
                font-weight: bold;
                margin-left: 0.5rem;
            }
        }
    }

    .tab-2 {
        left: 6.8rem;
    }

    .tab-3 {
        left: 15.2rem;
    }

    .tab-4 {
        left: 19.9rem;
    }

    .tab-5 {
        left: 24.9rem;
    }
}


@media (min-width: 768px) {
    .bookscreen__books-main-wrapper {
        align-items: center;
        column-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (min-width: 992px) {
    .bookscreen__books-main-wrapper {
        grid-template-columns: repeat(4, 1fr);

        .bookscreen__tab-wrapper {
            font-size: 1.2rem;
            height: 3rem;
            left: 0;
            padding: 0.8rem 1rem 0.5rem 1.5rem;
            top: -3rem;

            &:hover {

                i {
                    color: rgb(235, 3, 208);
                }
            }

            .bookscreen__tab-new-book {

                i {
                    display: inline;
                }
            }
        }

        .tab-2 {
            left: 11.3rem;
        }

        .tab-3 {
            left: 24.6rem;
        }

        .tab-4 {
            left: 33.2rem;
        }

        .tab-5 {
            left: 42.2rem;
        }
    }
}

@media (min-width: 1200px) {
    .bookscreen__books-main-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }

}

@keyframes pulseShadow {
    0% {
        -webkit-box-shadow: 7px 7px 14px -1px rgba(254, 254, 254, 0.988);
        -moz-box-shadow: 7px 7px 14px -1px rgba(254, 254, 254, 0.988);
        box-shadow: 0px 7px 14px 4px rgba(72, 72, 72, 0.8);
    }

    100% {
        -webkit-box-shadow: 7px 7px 14px -1px rgba(254, 254, 254, 0.4);
        -moz-box-shadow: 7px 7px 14px -1px rgba(254, 254, 254, 0.4);
        box-shadow: 4px 10px 14px 4px rgba(72, 72, 72, 0.5);
    }


}