.book__wrapper-go-back {
    display: flex;
    justify-content: flex-end;

    .book__go-back {
        cursor: pointer;
        display: inline;
    }

    i {
        color: purple;
        font-size: 2rem;
        margin-right: 0.5rem;
    }

    span {
        font-size: 2rem;
    }
}

.book__books-main-wrapper {
    background-color: rgb(253, 254, 237);
    padding: 1rem;
    position: relative;
    -webkit-box-shadow: 0px 7px 14px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 7px 14px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 7px 14px -1px rgba(0, 0, 0, 0.4);

    .bookscreen__tab-wrapper {
        font-size: 1.2rem;
        background-color: rgb(253, 254, 237);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 3rem;
        left: 0;
        padding: 0.8rem 1rem 0.5rem 1.5rem;
        position: absolute;
        top: -3rem;
        width: auto;
        -webkit-box-shadow: inset -8px 7px 4px -1px rgba(0, 0, 0, 0.43);
        -moz-box-shadow: inset -8px 7px 4px -1px rgba(0, 0, 0, 0.43);
        box-shadow: inset -5px 6px 4px -4px rgba(0, 0, 0, 0.43);
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgb(251, 252, 234);
            -webkit-box-shadow: inset -5px 6px 4px -4px rgba(0, 0, 0, 0.43);
            -moz-box-shadow: inset -5px 6px 4px -4px rgba(0, 0, 0, 0.43);
            box-shadow: inset -5px 6px 4px -4px rgba(109, 109, 109, 0.705);
        }

        .bookscreen__tab-new-book {
            cursor: pointer;

            i {
                color: rgb(130, 31, 31);
            }

            span {
                font-weight: 100;
                margin-left: 0.5rem;
            }
        }
    }

    .book__books-content-wrapper {

        p {
            margin-bottom: 1rem;
        }

        a {
            color: green;
        }

    }
}

@media (min-width: 768px) {
    .book__books-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }

}